body{
	text-align: center;
	background-image: url("beats.jpg")
}
h1{
	color: white
}

#timer
{
	color:white;
}
table
{
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	height: 20%;
	color: white;
}
table td
{
	border-style: solid;
	border-color: black;
	border-width: 1px;
	color: white
}
p
{
 	float: bottom;
}